img.pic {
  max-width:20%;
  border-radius:50%;
}

body {
  font-family: trebuchet ms, calibri, helvetica;
  background-color: rgba(10, 160, 120, 0.25);
  color: rgba(20, 10, 100, 1);
  margin: 5% 20%;
}

h5 {
  margin-bottom: -14px;
  font-size: 100%;
}

p {
  margin-bottom: -12px;
  font-size: 90%;
}

.left, .right {
  float: left;
  padding-right: 25px;
}

.left {
  width: 30%;
}

.right {
  width: 60%;
}
